
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Login Page</title>

    <meta name="description" content="Free Admin Template Based On Twitter Bootstrap 3.x">
    <meta name="author" content="">

    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="~/Scripts/img/logo.png">



    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />

    <!-- Metis core stylesheet -->
    <link href="~/Content/css/main.css" rel="stylesheet" />

    <!-- metisMenu stylesheet -->
    <link href="~/Content/css/metisMenu.css" rel="stylesheet" />


    <!-- animate.css stylesheet -->

    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login">
    <div class="col-lg-3"></div>
    <div class="form-signin col-lg-6">
        <div class="text-center">
            <img src="~/Scripts/img/kullanici.png" />
        </div>
        <hr>
        <div class="tab-content">
            <div id="login" class="tab-pane active">
                <form action="/AQ/Index">
                    <p class="text-muted text-center">
                        Kullanıcı adınızı ve şifrenizi giriniz
                    </p>
                    <input type="text" id="txtGKulAd" placeholder="Kullanıcı Adı" class="form-control top">
                    <input type="password" id="txtGSifre" placeholder="Şifre" class="form-control bottom">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Beni Hatırla
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" id="btnGiris" type="submit" onclick="GirisYap()">Giriş Yap</button>
                </form>
            </div>
            <div id="forgot" class="tab-pane">
                <form action="index.html">
                    <p class="text-muted text-center">E-mail giriniz</p>
                    <input type="email" id="eposta" placeholder="mail@gmail.com" class="form-control">
                    <br>
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Şifremi Unuttum</button>
                </form>
            </div>
            <div id="signup" class="tab-pane">
                <form action="/AQ/index">
                    <input type="text" id="txtKulAd" placeholder="Kullanıcı Adı" class="form-control top">
                    <input type="email" id="txtMail" placeholder="mail@gmail.com" class="form-control middle">
                    <input type="password" id="txtSifre" placeholder="Şifre" class="form-control middle">
                    <input type="text" id="txtad" placeholder="Ad" class="form-control bottom">
                    <input type="text" id="txtSoyad" placeholder="Soyad" class="form-control bottom">
                    <button class="btn btn-lg btn-success btn-block" id="btnKayit" type="submit" onclick="Kaydol()">Kaydol</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li><a class="text-muted" href="#login" data-toggle="tab">Giriş Yap</a></li>
                <li><a class="text-muted" href="#forgot" data-toggle="tab">Şifremi Unuttum</a></li>
                <li><a class="text-muted" href="#signup" data-toggle="tab">Üye Ol</a></li>
            </ul>
        </div>

    </div>
    <div class="col-lg-3"></div>

    <!--jQuery -->
    <script src="~/Scripts/js/jquery.js"></script>
    <!--Bootstrap -->
    <script src="~/Scripts/js/bootstrap.js"></script>

    @*<script type="text/javascript">
            (function ($) {
                $(document).ready(function () {
                    $('.list-inline li > a').click(function () {
                        var activeForm = $(this).attr('href') + ' > form';
                        //console.log(activeForm);
                        $(activeForm).addClass('animated fadeIn');
                        //set timer to 1 seconds, after that, unload the animate animation
                        setTimeout(function () {
                            $(activeForm).removeClass('animated fadeIn');
                        }, 1000);
                    });
                });
            })(jQuery);
        </script>*@
    <script>
        function Kaydol() {
            //username tel number vs oraları ekler değiştirirsiniz
            var data = {
                UserName: $("#txtKulAd").val(),
                EMail: $("#txtMail").val(),
                UserPassword: $("#txtSifre").val(),
                UserSurname: "bayri",
                TelNumber:"055353",
                UserTypeID:1
            };
            alert(data.UserName + "" + data.EMail );
            $.post("/AQ/Kaydol", data, function (sonuc) {
                
                alert(sonuc);
            });
        }

        function GirisYap() {
           
            $.post("/AQ/GirisYap", data, function (sonuc) {
             
            });
        }
    </script>

    @*<script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>*@
</body>
</html>


