
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    Aradığınız soruların cevabı burada :)<br />
    Çok sorunuz mu var ?<br />
    Vaktiniz kısıtlı mı?<br />
    Hemen sor ve anında cevaplansın .<br />
    Hala duruyormusun sorunu sormalısın :)<br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    Soru sor cevaplansın ....

</div>